@keyframes infiniteslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.artists-slide {
  display: inline-block;
  animation: 120s infiniteslide infinite linear;
  white-space: nowrap;
  width: 176rem;
}

.artists {
  position: relative;
  white-space: nowrap;
}
